extends ../common/main

block content
    img.logo(src="/static/images/logo.png")(width="41%")
    .loginBox
        form#loginForm(name="loginForm")(action="/loginAction")(method="post")
            input.loginHash(type="hidden")(value="#{hash}")
            .loginInputWrapper
                input.loginInput(type="text")(name="username")(placeholder="Login")(autocomplete="off")(min="4")(max="30")(message="Please fill in")
            .loginInputWrapper
                input.loginInput(type="password")(name="password")(placeholder="Password")(autocomplete="off")(min="5")(max="30")(message="Please fill in")
            input.loginButton(type="submit")(name="login")(value="Login")
            input.loginButton(type="button")(name="restore")(value="Forget Pass")
    .copyrightBox Copyright &copy; 2012 Privatte