extends ../common/main

block content
	div.image-preloader
		img(src="/static/images/red-lamp-on.png")
		img(src="/static/images/green-lamp-on.png")
		img(src="/static/images/smile-button-pressed.png")
		img(src="/static/images/send-button-pressed.png")
		img(src="/static/images/exit-button-pressed.png")
	div.chat-page
		div.header
			div.header-content
				a.exit-button(href="/logout")
		div.left
			ul.message-thread
		div.right
		div.footer
			div.footer-content
				div.smile-button
				div.chat-input-wrapper
					input.chat-input(type="text")(autocomplete="off")(placeholder="Write here...")
				div.send-button
				div.green-lamp
				div.red-lamp