!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Privatte
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400', rel='stylesheet', type='text/css')
        != css('normalize')
        != css('main')
    body
        block content
