html
    height 100%

body
    min-height 100%
    background url("/img/pattern.jpg")

.button
    font-size 13px
    color #cbff00
    font-family 'Open Sans', sans-serif
    font-weight normal
    background #383838
    border-radius 6px
    box-shadow 1px 1px 2px 0px rgba(0, 0, 0, 75)
    border solid 3px #c8f327
    width 104px
    height 27px
    cursor pointer
    padding 0

.button:active
    vertical-align top
    font-size 11px
    height 25px
    width 102px
    margin 1px
    box-shadow 0px 0px 0px 0px rgba(0, 0, 0, 75)

.button:hover
    color #fff

.text
    background #383838
    border-radius 6px
    box-shadow 1px 1px 2px 0px rgba(0, 0, 0, 75)
    border solid 3px #c8f327
    display block
    outline none
    width 196px
    height 20px
    line-height 20px
    font-family 'Open Sans', sans-serif
    color #cbff00
    padding 0px 5px
    font-size 13px
    font-weight normal

input::-webkit-input-placeholder
    color #869D1B

input:-moz-placeholder
    color #869D1B

.form-field
    padding 5px 5px
    position relative

.login-form
    width 232px
    margin 0 auto 0 auto

#login
    position absolute
    top 33%
    background #383838
    border-radius 8px
    box-shadow 1px 1px 2px 0px rgba(0, 0, 0, 75)
    border solid 3px #c8f327
    height 120px;
    padding 5px 5px

.error-tooltip-container
    border solid 2px #C8F327
    border-radius 6px
    box-shadow 1px 1px 2px 0px rgba(0, 0, 0, 75)
    background #383838
    padding 3px 6px
    position absolute
    color #C8F327
    font-family arial
    font-size 15px
    left 225px
    width 120px
    height 17px
    top 5px
    text-align center

.error-tooltip-arrow
    width 0px
    height 0px
    position absolute
    left -13px
    top 4px
    border-style solid
    border-width 7px
    border-color transparent #383838 transparent transparent

.error-tooltip-border
    width 0px
    height 0px
    position absolute
    left -16px
    top 4px
    border-style solid
    border-width 7px
    border-color transparent #C8F327 transparent transparent
