!!! 5
html(lang="en-US")(dir="ltr")
    head
        meta(http-equiv="Content-Type")(content="text/html; charset=UTF-8")
        meta(name="description")(content="")
        meta(name="keywords")(content="")
        meta(name="robots")(content="index, nofollow")
        title Privatte
        link(rel="icon")(type="image/x-icon")(href="/static/images/favicon.png")
        link(rel="stylesheet")(type="text/css")(href="/static/styles/main.css")
        script(type="text/javascript")(src="/static/scripts/jquery.js")
        script(type="text/javascript")(src="/socket.io/socket.io.js")
        script(type="text/javascript")(src="/static/scripts/jquery.form.js")
        script(type="text/javascript")(src="/static/scripts/sha1.js")
        script(type="text/javascript")(src="/static/scripts/jsbn.js")
        script(type="text/javascript")(src="/static/scripts/prng4.js")
        script(type="text/javascript")(src="/static/scripts/rng.js")
        script(type="text/javascript")(src="/static/scripts/rsa.js")
        script(type="text/javascript")(src="/static/scripts/funcs.js")
        script(type="text/javascript")(src="/static/scripts/main.js")
    body
        #wrapper
        #plain
            block content