extends main

block content
    img#not-found-logo(src="/static/images/not-found-logo.png")(width="35%")
    img#i404(src="/static/images/404.png")(width="35%")
    img#not-found(src="/static/images/not-found.png")(width="35%")