extends main

block content
    img#notFoundLogo(src="/static/images/notFoundLogo.png")(width="35%")
    img#i404(src="/static/images/404.png")(width="35%")
    img#notFound(src="/static/images/notFound.png")(width="35%")