html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: url("/static/images/pattern.jpg");
	overflow: hidden;
}

@font-face {
	font-family: arianamu;
	letter-spacing: 1px;
	src: url('/static/fonts/arnamu-webfont.ttf'), url('/static/fonts/arnamu-webfont.eot'); /* IE9 */
}

p {
    margin: 0px;
}

#wrapper {
    height: 100%;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

#plain {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}

.back {
    width: 10%;
    height: 10%;
    float: left;
}

.logo {
    position: absolute;
    left: 29.5%;
    top: 13%;

}

.login-box {
    background: #383838;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    border: solid 3px #c8f327;
    height: 150px;
    width: 250px;
    margin: 22% auto 0;
}

.login-input {
    background: #383838;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    border: solid 3px #c8f327;
    display: block;
    outline: none;
    width: 205px;
    height: 20px;
    line-height: 15px;
    font-family: arial;
    color: #cbff00;
    padding: 0px 5px;
    font-size: 13px;
    font-weight: normal;
}

.login-button {
    font-size: 13px;
    color: #cbff00;
    font-family: arial;
    font-weight: normal;
    background: #383838;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    border: solid 3px #c8f327;
    width: 104px;
    margin-left: 14px;
    height: 27px;
    cursor: pointer;
    margin-top: 27px;
    padding: 0px;
}

.login-button:active {
    height: 25px;
    width: 102px;
    margin-left: 15px;
    margin-right: 1px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 75);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 75);
}

input::-webkit-input-placeholder {
    color:#cbff00;
}

input:-moz-placeholder {
    color:#cbff00;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

.copyright-box {
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
    color: #727171;
    text-shadow: 1px 1px 1px #000;
    filter: dropshadow(color=#000, offx=1, offy=1);
}

.login-input-wrapper {
    position: relative;
    width: 221px;
    margin: 15px auto 0px;
}

.error-tooltip-container {
    border: solid 2px #C8F327;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 75);
    background: #383838;
    padding: 3px 6px;
    position: absolute;
    color: #C8F327;
    font-family: arial;
    font-size: 15px;
    left: 230px;
    width: 110px;
    height: 17px;
    top: 0px;
    text-align: center;
}

.error-tooltip-arrow {
    width: 0px;
    height: 0px;
    position: absolute;
    left: -13px;
    top: 4px;
    border-style: solid;
    border-width: 7px;
    border-color: transparent #383838 transparent transparent;
}

.error-tooltip-border {
    width: 0px;
    height: 0px;
    position: absolute;
    left: -16px;
    top: 4px;
    border-style: solid;
    border-width: 7px;
    border-color: transparent #C8F327 transparent transparent;
}

.back-login-box {
    margin-top: 15%;
}

.back-login-button {
    width: 221px;
}

.back-login-button:active {
    width: 219px;
    height: 25px;
    margin-top: 28px;
    margin-left: 15px;
    margin-right: 1px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 75);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 75);
}

#not-found-logo {
    position: absolute;
    top: 3%;
    left: 2%;
}

#i404 {
    position: absolute;
    top: 30%;
    left: 31%;
}

#not-found {
    position: absolute;
    right: 4%;
    bottom: 5%;
}

.chat-page {
	position: relative;
	width: 100%;
	height: 100%;
}

.header {
	height: 53px;
	position: absolute;
	top: -5px;
	left: 3px;
	right: 3px;
	border-left: solid 2px #c7f228;
	border-right: solid 2px #c7f228;
	border-bottom: solid 2px #c7f228;
	background: #4c4c4c;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 3px 1px #000;
	-moz-box-shadow: inset 0px 1px 3px 1px #000;
	box-shadow: inset 0px 1px 3px 1px #000;
}

.footer {
	bottom: -5px;
	height: 70px;
	left: 3px;
	right: 3px;
	position: absolute;
	border-left: solid 2px #c7f228;
	border-right: solid 2px #c7f228;
	border-top: solid 2px #c7f228;
	background: #4c4c4c;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 3px 1px #000;
	-moz-box-shadow: inset 0px 1px 3px 1px #000;
	box-shadow: inset 0px 1px 3px 1px #000;
}

.left {
	position: absolute;
	top: 55px;
	bottom: 72px;
	left: 3px;
	right: 285px;
	outline: none;
}

.right {
	position: absolute;
	right: -5px;
	width: 283px;
	top: 55px;
	bottom: 72px;
	border-left: solid 2px #c7f228;
	border-bottom: solid 2px #c7f228;
	border-top: solid 2px #c7f228;
	background: #4c4c4c;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 3px 1px #000;
	-moz-box-shadow: inset 0px 1px 3px 1px #000;
	box-shadow: inset 0px 1px 3px 1px #000;
}

.footer-content {
	height: 100%;
	position: relative;
}

.chat-input-wrapper {
	border: solid 2px #c7f228;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: absolute;
	top: 18px;
	height: 26px;
	left: 65px;
	right: 337px;
	-webkit-box-shadow:  0px 0px 1px 1px #000;
	-moz-box-shadow:  0px 0px 1px 1px #000;
	box-shadow:  0px 0px 1px 1px #000;
}

.chat-input {
	background: none;
	border: none;
	width: 99%;
	height: 100%;
	color: #c7f228;
	font-weight: bold;
	font-size: 14px;
	padding: 0 4px;
	font-family: arianamu, Arial;
	outline: none;
}

.send-button {
	width: 26px;
	height: 26px;
	background: url('/static/images/send-button.png') no-repeat 4px 2px;
	border: solid 2px #c7f228;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow:  0px 0px 1px 1px #000;
	-moz-box-shadow:  0px 0px 1px 1px #000;
	box-shadow:  0px 0px 1px 1px #000;
	position: absolute;
	top: 18px;
	right: 300px;
	cursor: pointer;
}

.send-button:active {
	background: url('/static/images/send-button-pressed.png') no-repeat 4px 2px;
}

.smile-button {
	width: 26px;
	height: 26px;
	background: url('/static/images/smile-button.png') no-repeat 2px 1px;
	border: solid 2px #c7f228;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow:  0px 0px 1px 1px #000;
	-moz-box-shadow:  0px 0px 1px 1px #000;
	box-shadow:  0px 0px 1px 1px #000;
	position: absolute;
	top: 18px;
	left: 29px;
	cursor: pointer;
}

.smile-button:active {
	background: url('/static/images/smile-button-pressed.png') no-repeat 2px 1px;
}

.header-content {
	height: 100%;
	position: relative;
}

.exit-button {
	width: 26px;
	height: 26px;
	background: url('/static/images/exit-button.png') no-repeat 2px 1px;
	position: absolute;
	top: 16px;
	right: 20px;
	cursor: pointer;
}

.exit-button:active {
	background: url('/static/images/exit-button-pressed.png') no-repeat 2px 1px;
}

.message-thread {
	margin: 0;
	padding: 0 0 20px 0;
}

.message-thread li {
	list-style: none;
	color: #c7f228;
	font-family: arianamu, Arial;
	padding: 0 0 0 5px;
}

.helper {
	height: 20px;
}

.jspVerticalBar {
	width: 11px;
}

.jspTrack {
	background-color: #4C4C4C;
}

.jspDrag {
	background-color: #c7f228;
}

.green-lamp {
	background: url('/static/images/green-lamp-off.png') no-repeat;
	width: 11px;
	height: 11px;
	position: absolute;
	top: 8px;
	right: 40px;
}

.green-lamp-on {
	background: url('/static/images/green-lamp-on.png') no-repeat;
}

.red-lamp {
	background: url('/static/images/red-lamp-off.png') no-repeat;
	width: 11px;
	height: 11px;
	position: absolute;
	top: 8px;
	right: 19px;
}

.red-lamp-on {
	background: url('/static/images/red-lamp-on.png') no-repeat;
}

.image-preloader {
	position: absolute;
	top: -5000px;
	left: -5000px;
}